/* roboto-300 - latin_cyrillic */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v20-latin_cyrillic-300.eot");
    /* IE9 Compat Modes */
    src: local("Roboto Light"), local("Roboto-Light"),
      url("../fonts/roboto-v20-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/roboto-v20-latin_cyrillic-300.woff2") format("woff2"),
      /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-300.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-300.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-300.svg#Roboto") format("svg");
    /* Legacy iOS */
  }
  
  /* roboto-regular - latin_cyrillic */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
    /* IE9 Compat Modes */
    src: local("Roboto"), local("Roboto-Regular"),
      url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
      /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
    /* Legacy iOS */
  }
  
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
    /* IE9 Compat Modes */
    src: local("Roboto Bold"), local("Roboto-Bold"),
      url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
      /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
    /* Legacy iOS */
  }
  
.header{
    max-width: 1600px;
    width: 100%;
    height: 800px;
    background-color: #00b3e0;
    background-image: linear-gradient(-90.0deg, #03cddb 0%, #005773 100%);
}
.main-nav{
    display: flex;
    padding-top: 100px;
}
.main-menu{
    display: flex;
    align-items: center;
    margin-left: 150px;

}
.main-nav__list{
    display: flex;
    list-style: none;
}
.main-nav__item{
    margin-left: 50px;
}
.main-logo{
    font-size: 80px;
    line-height: 45px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 115px;
}
.main-link{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    text-decoration: none; 
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px 10px;
    border-radius: 25px;
}
.main-link:hover{
    background-color: #00dfee;
    transition: .5s;
}
.nike-text__img{
    position: absolute;
    z-index: 1;
}
.nike__img{
    max-width: 1570px;
    width: 100%;
    max-height: 508px;
    height: auto;
}
.header-intro{
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 1570px;
}
.header-intro__item{
    flex: 1 1 50%;
}
.header-title{
    font-family: 'Roboto';
    margin-top: 100px;
    margin-left: 230px;
    width: 350px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #00fffc;
}
.header-button{
    margin-top: 100px;
    margin-left: 230px;
    position: absolute;
    z-index: 100;
}
.header-btn{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #00ecf4;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    box-shadow: 0px 10px 30px 0px rgba(19,107,113,0.15);
    border-radius: 25px;
}
.header-btn:hover{
    background: none;
    box-shadow: 0px 10px 30px 0px rgba(19,107,113,0.15);
    border-radius: 25px;
}
.header-btn:first-child{
    padding: 10px 30px;
}
.header-btn:last-child{
    margin-left: 30px;
}
.header-intro__b_28{
    position: absolute;
    z-index: 20;
    max-width: 680px;
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.header-intro__img-shoes{
    position: absolute;
    z-index: 21;
    max-width: 600px;
    width: 100%;
    height: auto;
}
/*MAIN*/
.main{
    max-width: 1600px;
    width: 100%;
    background-color: #ffffff;
}
.main-item-1{
    display: flex;
    margin-top: -200px;
    flex: 0 1 100%;
}
.main-item-2{
    display: flex;
    flex: 0 1 100%;
    
}
.main-item-3{
    display: flex;
    flex: 0 1 100%;
}
.main-item__img-shape_1{
    width: 100%;
    position: absolute;
    z-index: 5;
}
.main-item__img-shape_2{
    width: 100%;
    margin-top: 5%;
    position: absolute;
    z-index: 6;
}
.img-layer{
    
}
.main-item__img-layer{
    display: block;
    position: absolute;
    z-index: 7;
    max-width: 500px;
    width: 100%;
    margin: 21% 32%;
}
.main-item__img-layer-3{
    position: absolute;
    z-index: 9;
    margin-top: 17%;
    margin-left: 54%;
}
.main-item__img-layer-4{
    position: absolute;
    z-index: 9;
    margin-top: 29%;
    margin-left: 66%;
}
.main-item__img-layer-5{
    position: absolute;
    z-index: 9;
    margin-top: 29%;
    margin-left: 13%;
}
.main-item-1__title-1{
    font-family: 'Roboto';
    position: absolute;
    z-index: 21;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    color: #00dfee;
    margin-top: 26%;
    margin-left: 5%;
}
.main-item-1__title-2{
    font-family: 'Roboto';
    position: absolute;
    z-index: 22;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    color: #00dfee;
    margin-top: 14%;
    margin-left: 70%;
}
.main-item-1__title-3{
    font-family: 'Roboto';
    position: absolute;
    z-index: 23;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    color: #00dfee;
    margin-top: 26%;
    margin-left: 78%;
}
.main-button    {
    position: absolute;
    z-index: 8;
    margin-top: 45%;
    margin-left: 25%;
}
.main-btn{
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 50px;
    background-color: #00ecf4;
    box-shadow: 0px 10px 30px 0px rgba(19,107,113,0.15);
    border-radius: 25px;
}
.main-btn:hover{
    color: #00ecf4;
    border: 2px solid #00ecf4;
    background: none;
    box-shadow: 0px 10px 30px 0px rgba(19,107,113,0.15);
    border-radius: 25px;
}
/*WAY*/
.way{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    height: 800px;
    margin-top: 800px;
}
.way-item{
    flex: 1 1 50%;
}
.way-img__1{
    width: 100%;
    position: relative;
}
.way-img__2{
    width: 130%;
    position: relative;
    margin-left: -30%;
}
.way-intro{
    display: flex;
    position: absolute;
    margin-top: -500px;
    z-index: 16;
}
.way-intro__img{
    max-width: 700px;
    width: 100%;
    height: auto;
    margin-left: 100px;   
}
.way-text{
    position: absolute;
    margin-top: -600px;
    padding: 50px 70px;
}
.way-title{
    font-family: 'Roboto';
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    color: #263238;
}
.way-subtitle{
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 31px;
    font-weight: 300;
    color: #263238;
    margin-top: 30px;
}
.way-btn{
    margin: 50px 30%;
}
/*HYPERVENOM*/
.hypervenom{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    background-color: #ffffff;
    background: url('../img/hyper/shape_2_351.png') no-repeat;
}
.hypervenom-item__header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hypervenom-item{
    width: 50%;
}
#pg-left{
    padding-left: 100px;
}
.hypervenom-item__title{
    font-family: 'Roboto';
font-size: 35px;
line-height: 90px;
font-weight: 700;
color: #263238;
}
.hypervenom-item__subtitle{
    font-family: 'Roboto';
font-size: 20px;
line-height: 31px;
font-weight: 300;
color: #263238;
}
.hypervenom-item__price{
    display: flex;
    align-items: center;
} 
#hyper-item__price{  
    font-family: 'Roboto';
font-size: 35px;
line-height: 90px;
font-weight: 700;
color: #f50057;
}
.hyper-btn{
    margin-left: 20px;

}
.hypervenom-item__block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 280px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.274);
    border-radius: 5px;
}
.star-block__item{
    font-size: 20px;
    color: #00ecf4;
    margin-left: 10px;
}
.star-block__item:first-child{
margin-left: 0px;
}
.hypervenom-item__block--title{
    font-family: 'Roboto';
font-size: 18px;
line-height: 31px;
font-weight: 500;
color: #00ecf4;
margin-top: 150px;
margin-left: -100px;
}
/*FOOTER*/
.footer{
    max-width: 1600px;
    width: 100%;
    height: 195px;
    background-color: #212e30;
    display: flex;
}
.footer-logo{
    font-family: 'icofont';
    font-size: 80px;
    line-height: 45px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.footer-menu{
    display: flex;
    align-items: center;
}
.footer-menu__item{
    margin-left: 100px;
}
.footer-menu__list{
    list-style: none;
    
}
.footer-menu__link{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #437077;
    text-decoration: none;
}
.footer-icon{
    display: flex;
    flex: 1 1 30%;
    align-items: center;
    justify-content: flex-end;
}
.footer-icon__item{
    font-family: 'icofont';
    font-size: 15px;
    line-height: 45px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 20px;
}
.footer-icon__item:last-child{
    margin-right: 100px;
}
/*MEDIA*/
@media(max-width: 1400px){
    .way-intro__img {
        margin-left: 30px;
    }
    .header-intro__b_28{
        max-width: 580px;
    }
    .header-intro__img-shoes{
        max-width: 500px;
    }
    .main-item__img-shape_2{
        margin-top: 10%;
    }
}
@media(max-width: 1340px){
    .way-title {
        font-size: 45px;
    }
    .way-subtitle {
        font-size: 15px;
    }
}
@media(max-width: 1300px){
    .way-intro__img {
        max-width: 600px;
    }
    .main-item__img-shape_2 {
        margin-top: 15%;
    }
}
@media(max-width: 1160px){
    .main-menu{
    margin-left: 40px;
    }
    .header-title{
        margin-left: 100px;
    }
    .header-button {
        margin-left: 118px;
    }
    .header-intro__b_28 {
        max-width: 516px;
        margin-top: 74px;
    }
    .main-item__img-shape_2 {
        margin-top: 20%;
    }
}
@media(max-width: 1100px){
    .way-intro__img {
        max-width: 550px;
        margin-top: 100px;
    }
    .way-btn {
        margin: 50px 15%;
    }
    .way-title {
        font-size: 35px;
    }
    .way-text {
        margin-top: -500px;
    }
    .main-item__img-shape_2 {
        margin-top: 30%;
    }
}
@media(max-width: 1050px){
    .header-intro__img-shoes {
        max-width: 450px;
    }
    .header-intro__b_28 {
        max-width: 470px;
    }
    .way-text {
        margin-top: -200px;
        margin-left: -436px;
        text-align: center;
    }
    .way-intro__img {
        margin-left: 280px;
    }
}
@media(max-width: 975px){
    .main-logo {
        margin-left: 30px;
    }    
    .main-menu{
        margin-left: -20px;
    }
    .header-title{
        margin-left: 60px;
    }
    .header-button {
        margin-left: 68px;
    }
}
@media(max-width: 955px){
    .header-intro__img-shoes {
        max-width: 400px;
    }
    .header-intro__b_28 {
        max-width: 400px;
    }
    .main-item__img-layer {
        margin: 20% 20%;
    }
    .main-item__img-layer-5 {
        margin-top: 34%;
        margin-left: 10%;
        width: 20%;
    }
    .main-item__img-layer-3 {
        margin-top: 18%;
        margin-left: 51%;
        width: 29%;
    }
    .main-item__img-layer-4 {
        margin-top: 42%;
        margin-left: 71%;
        width: 25%;
    }
    .main-item-1__title-3 {
        margin-top: 37%;
        margin-left: 73%;
    }
    .main-item-1__title-1 {
        margin-top: 30%;
    }
    .main-button {
        margin-top: 60%;
        margin-left: 14%;
    }
    .main-item__img-shape_2 {
        margin-top: 40%;
    }
    .way-intro__img {
        margin-left: 230px;
    }
    .footer-menu__item {
        margin-left: 70px;
    }
    .footer-menu__link {
        font-size: 13px;
        line-height: 35px;
    }
}
@media(max-width: 830px){
    .footer-icon__item:last-child {
        margin-right: 20px;
    }
    .hypervenom {
        margin-top: -178px;
    }
    .hypervenom-item__img{
        width: 75%;
    }
    .hypervenom-item__title {
        font-size: 20px;
    }
    .hypervenom-item__subtitle {
        font-size: 14px;
    }
    .main-item__img-shape_2 {
        margin-top: 46%;
    }
    .way-intro__img {
        margin-left: 150px;
    }
}
@media(max-width: 820px){
    .main-nav {
        display: none;
    }
    .header-intro__b_28 {
        max-width: 70%;
        margin-left: 232px;
        margin-top: 304px;
    }
    .header-intro__img-shoes {
        max-width: 80%;
        margin-left: 150px;
        margin-top: 226px;
    }
    .hypervenom-item__title {
        font-size: 16px;
    }
}
@media(max-width: 790px){
    .footer-menu__item {
        margin-left: 40px;
    }
    .way-intro__img {
        margin-left: 120px;
        margin-top: 140px;
    }
    .main-item__img-shape_2 {
        margin-top: 55%;
    }
    .way-title {
        margin-top: 30px;
    }
    .way-subtitle {
        margin-bottom: -35px;
        margin-top: -15px;
    }
}
@media(max-width: 750px){
    .header-intro__b_28 {
        margin-left: 200px;
    }
    .header-intro__img-shoes {
        max-width: 68%;
        margin-left: 181px;
        margin-top: 258px;
    }
    .main-item__img-layer {
        margin: 43% 15%;
    }
    .main-button {
        margin-top: 93%;
    }
    .main-item__img-layer-5 {
        margin-top: 59%;
        margin-left: 7%;
    }
    .main-item-1__title-1 {
        margin-top: 54%;
        font-size: 14px;
        margin-left: 12px;
    }
    .main-item__img-layer-3 {
        margin-top: 43%;
    }
    .main-item-1__title-2 {
        font-size: 14px;
        margin-top: 38%;
    }
    .main-item__img-layer-4 {
        margin-top: 71%;
    }
    .main-item-1__title-3 {
        margin-top: 67%;
        font-size: 14px;
        margin-left: 598px;
    }
    .way-text {
        margin-top: -240px;
        margin-left: -378px;
    }
    .way-intro__img {
        margin-top: 50px;
    }
    .main-item__img-shape_1 {
        margin-top: 65px;
    }
    .main-btn{
        padding: 10px 25px;
    }
}
@media(max-width: 670px){
    .header-intro__img-shoes {
        max-width: 80%;
        margin-left: 64px;
        margin-top: 4px;
    }
    .header-intro__b_28 {
        margin-left: 120px;
        margin-top: 98px;
    }
    .header-title {
        margin-left: 100px;
        margin-top: 430px;
        width: 500px;
    } 
    .header-button {
        margin-left: 185px;
        margin-top: 28px;
    }
    .main-item__img-shape_2 {
        margin-top: 70%;
    }  
    .hypervenom-item__title {
        font-size: 14px;
    }
    .hypervenom-item__subtitle {
        font-size: 12px;
    }
    .star-block {
        width: 160px;
    }
    .main-item__img-layer {
        margin: 45% 17%;
        width: 60%;
    }.main-item__img-layer-4 {
        margin-top: 68%;
        margin-left: 68%
    }
    .main-item-1__title-3 {
        margin-top: 63%;
        margin-left: 507px;
    }
    .footer-menu__item {
        margin-left: 25px;
    }
    .footer-menu__link {
        font-size: 11px;
        line-height: 26px;
    }
    .header-title {
        margin-left: 50px;
    }
    .header-button {
        margin-left: 145px;
    }
    .main-item-1__title-3 {
        margin-left: 420px;
    }
    .main-item__img-shape_2 {
        margin-top: 85%;
    }
    .way-intro__img {
        margin-top: 19px;
        margin-left: 0px;
    }
    .way-text {
        margin-top: -272px;
        margin-left: -289px;
    }
    .hypervenom-item__header {
        margin-top: -176px;
    }
    #pg-left {
        padding-left: 40px;
    }
}
@media(max-width: 560px){
    .footer-logo {
        font-size: 30px;
    }
    .header-title {
        margin-left: 25px;
    }
}
@media(max-width: 520px){
    .header-title {
        font-size: 20px;
        text-align: center;
        margin-left: 18%;
        margin-top: 307px;
        max-width: 320px;
    }
    .header-button {
        margin-left: 110px;
    }
    .header {
        height: 650px;
    }
    .way-intro__img {
        margin-top: 80px;
    }
    .main-item-1__title-3 {
        margin-left: 350px;
    }
    .main-item__img-shape_2 {
        margin-top: 90%;
    }
    #pg-left {
        padding-left: 15px;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer-icon {
        justify-content: space-around;
    }
}
@media(max-width: 470px){
    .header-button {
        margin-left: 100px;
    }
    .main-item-1__title-3 {
        margin-left: 300px;
    }
    .main-item-1__title-2 {
        margin-left: 55%;
    }
    .hypervenom-item__title {
        line-height: 0px;
        font-size: 10px;
    }
    .star-block{
        margin-top: 20px;
    }
    .main-btn {
        padding: 11px 11px;
    }
    .hypervenom-item__block--title{
        margin-top: 100px;
    }
    .way-text {
        margin-left: -50%;
    }
    .hypervenom-item__subtitle {
        font-size: 9px;
    }
    #hyper-item__price {
        font-size: 25px;
    }
}
@media(max-width: 400px){
    .header-title {
        margin-left: 8%;
        line-height: 30px;
    }
    .header-button {
        margin-left: 8%;
    }
    .header-intro__img-shoes {
        margin-left: 8%;
        margin-top: 52px;
    }
    .header-intro__b_28 {
        margin-left: 20%;
        margin-top: 110px;
    }
    .way-title {
        font-size: 25px;
    }
    .way-intro__img {
        margin-top: 155px;
    }
    .way-text {
        padding: 50px 15px;
    }
}
@media(max-width: 370px){
    .hypervenom {
        margin-top: -320px;
    }
    .main-item__img-layer {
        margin: 70% 27%;
        width: 46%;
    }
    .main-item__img-layer-3 {
        margin-top: 72%;
        width: 19%;
    }
    .main-item-1__title-2 {
        margin-top: 61%;
    }
    .main-item__img-layer-4 {
        width: 15%;
        margin-left: 68%;
        margin-top: 92%;
    }
    .main-item-1__title-3 {
        margin-left: 221px;
        margin-top: 84%;
    }
    .main-item__img-layer-5 {
        margin-top: 81%;
        margin-left: 15%;
    }
    .item-1__title-1 {
        margin-top: 72%;
    }    
    .main-button {
        margin-top: 114%;
        margin-left: 38%;
    }
    .header-title {
        margin-left: 2%;
        max-width: 300px;
    }
    #pg-left {
        padding-left: 7px;
    }
    .hyper-btn {
        margin-left: 5px;
    }
}
@media(max-width: 370px){
    .hypervenom-item__block--title {
        font-size: 15px;
        margin-left: -140px;
    }
    .star-block {
        width: 144px;
        margin-left: -73px;
    }
    .hypervenom-item__title {
        font-size: 9px;
    }
    .way-text {
        margin-top: -309px;
    }
    .way-intro__img {
        margin-top: 75px;
    }
    .header-button {
        margin-left: 5%;
    }
}